.App {
  text-align: center;
}


.header {
  background: linear-gradient(to top, #e7627d 0%, #b8235a 20%, #801357 40%, #3d1635 70%, #1c1a27 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
